@import 'colors.scss';

.color-picker {
  user-select: none;
  width: calc(100% - 8px * 2);
  padding: 8px;
}

.color-previews {
  display: flex;
  flex-direction: row;
}

.saturation-brightness-picker {
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  border: solid 1px black;
  width: 75%;
}

.color-preview {
  width: calc(25% - 8px);
  margin-left: 8px;
  border-radius: 4px;
  border: solid 1px gray;
  display: flex;
  flex-direction: column;

  &>div {
    flex: 1;
    place-content: center;
    text-align: center;
  }
}

.saturation-brightness-cursor {
  --cursor-size: 8px;
  position: relative;
  border-radius: 6px;
  border: solid 2px white;
  cursor: pointer;
  pointer-events: none;
  width: var(--cursor-size);
  height: var(--cursor-size);
  z-index: 1;
  transform: translate(calc(var(--cursor-size) * -1), calc(var(--cursor-size) * -1));
}

.hue-selector {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(255, 255, 0), rgb(0, 255, 0), rgb(0, 255, 255), rgb(0, 0, 255), rgb(255, 0, 255), rgb(255, 0, 0));
  margin: 8px 0 0 0;
  border-radius: 4px;
  border: solid 1px gray;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 20px;
    border: solid 2px rgba($color: #000000, $alpha: 0.7);
    cursor: pointer;
  }
}

.alpha-selector {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;

  background: linear-gradient(to right,
      transparent 0%,
      $window-color-main 100%),
    repeating-conic-gradient(#d0d0d0 0% 25%,
      #b0b0b0 0% 50%);
  background-size: auto, 12px 12px;
  margin: 8px 0 0 0;
  border-radius: 4px;
  border: solid 1px gray;

  &:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 20px;
    border: solid 2px rgba($color: #000000, $alpha: 0.7);
    cursor: pointer;

  }
}

.color-history {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
  margin-top: 8px;

  &>div {
    width: 5%;
    aspect-ratio: 1 / 1;
    border: solid 1px black;
    cursor: pointer;
    transition: box-shadow 200ms ease-in 0s;

    &:hover {
      box-shadow: 2px 2px 0px red;
    }
  }
}
