$window-border-radius: 6px;

html,
body,
#main,
.window {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 12px;
  margin: 0px;
}

.window {
  background-color: #F6F6F6;
  border-radius: $window-border-radius;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.content {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  border-top: solid darkgray 1px;
  overflow-y: hidden;
  border-bottom-left-radius: $window-border-radius;
}

.sidebar {
  width: 33%;
  overflow-y: scroll;
  background-color: lightgray;
  border-right: solid darkgray 1px;
}
