@import "colors.scss";

$window-border-radius: 6px;

html,
body,
#main,
.window {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'JetBrains Mono'; // NOTE: idk whats a good font so
  margin: 0px;
}

span,
button {
  user-select: none;
}

.window {
  background-color: $window-color-main;
  border-radius: $window-border-radius;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
  border-top: solid darkgray 1px;
  overflow-y: hidden;
  border-bottom-left-radius: $window-border-radius;

  &>div {
    min-width: min-content;
    align-self: stretch;
    resize: horizontal;
    border-right: solid $sidebar-bg-color 1px;
    overflow-y: hidden;
    overflow-x: auto;
    flex: 1;
    position: relative;
  }

  &>.inspector {
    flex-grow: 2;
  }

  &>span {
    width: 100%;
    align-content: center;
    text-align: center;
  }

  &:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px; // Adjust based on handle width
    width: 4px;
    height: 100%;
    cursor: col-resize;
    background: transparent;
    z-index: 10;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &>.sidebar {
    min-width: fit-content;
    max-width: 25%;
    overflow-y: scroll;
    background-color: lightgray;
    padding: 8px;
    gap: 8px;
    flex-grow: 0.6;

    & span {
      font-size: 14px;
      padding: 0;
    }

    &>div {
      padding: 0 4px;
      border-radius: 6px;
      border: none;

      &:hover {
        background-color: darken($color: lightgray, $amount: 10);
      }
    }
  }
}

.suggested-action {
  background-color: #469CFF;
  border: solid 1px #1984FF;

  &:hover {
    background-color: darken($color: #469CFF, $amount: 4);
  }
}
