* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    border-radius: 12px;
    margin: 0px;
}

.window {
    background-color: #ffffff;
    border-radius: 6px;
    color: #000000;
    display: flex;
}

.titlebar {
    margin: 4px;
    display: inline-flex;
    flex-grow: 1;
}

.titlebar>div {
    display: inherit;
    flex-grow: 1;
}

.titlebar-left {
    margin-right: 4px;
    justify-content: flex-start;
}

.titlebar-center {
    margin-right: 4px;
    margin-left: 4px;
    justify-content: center;
}

.titlebar-right {
    margin-right: 4px;
    justify-content: flex-end;
}

.window-controls {
    /* align center pretty please */
    align-items: center;
    row-gap: 2px;
}

.window-controls>* {
    border: solid lightgray 1px;
    border-radius: 2px;
}

.wcontrol-minimize {
    display: inline-flex;
    background-color: greenyellow;
}

.wcontrol-maxmize {
    display: inline-flex;
    background-color: yellow;
}

.wcontrol-exit {
    display: inline-flex;
    background-color: red;
}
