@import "colors.scss";

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $overlay-color;
  border-radius: 0 0 12px 12px;
  // HACK: hard coded; wouldnt work if titlebar height is changed
  width: 100vw;
  height: calc(100vh - 34px);
  inset: 0;
  top: 34px;
  z-index: 2;
}

.overlay:hover {
  background-color: $overlay-color;
}

.overlay>div {
  display: flex;
  padding: 6px 12px;
  border-radius: 8px;
  background-color: $window-color-main;
  flex-direction: column;
}

.overlay-menu>span {
  margin-right: 8px;
  font-size: 12px;
  font-weight: 500;
}
