@import 'colors.scss';

:has(> .popup) {
  anchor-name: --pop;
  anchor-scope: --pop;

  .popup {
    z-index: 1;
    position: absolute;
    position-anchor: --pop;
    position-area: bottom left;
    position-try-fallbacks:
      bottom right, // if left edge clips, flip to right
      top left, // if bottom clips, flip above
      top right; // last resort: above + right display: flex;
    flex-direction: column;
    align-self: unset;
    background-color: darken($color: $window-color-main, $amount: 5);
    border: $button-border;
    border-top: 0;
    padding: 0;
    width: max-content;
  }
}

.style-input {
  padding: 10px;
  display: flex;

  & span {
    vertical-align: middle;
  }
}

$button-padding-size: 2px;

.background-color-display {
  display: flex;
  height: calc(100% - $button-padding-size / 4);
  place-self: stretch;
  pointer-events: none;
}

:has(> .background-color-edit-button) {
  display: flex;
  justify-self: stretch;
}

.background-color-edit-button {
  border: $button-border;
  background-color: $button-background-color;
  width: 5vw;
  align-self: stretch;
  justify-self: end;
  margin-left: auto;
  padding: $button-padding-size;

  &:hover {
    background-color: darken($color: $button-background-color, $amount: 10);
  }
}

.property-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.property-input-base {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  justify-self: end;
  margin: 4px 0 4px auto;
}

.value-input {
  display: inline-flex;
  flex-direction: row;
  height: 1.5rem;

  & * {
    font-size: smaller;
  }

  & select {
    width: 3em;
    border-radius: 0 6px 6px 0;
  }
}

.value-input-field {
  width: 2em;
  border-radius: 6px 0 0 6px;
  border: $button-border;
  text-align: end;
}
